.fi{
    width: 100%;
    height: 800px;
    background-image: url(Rectangle\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.in{
    display: flex;
    gap: 30px;
}
.letter{
    width: 100%;
    height: 550px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 20px;
}
.letter h1{
    font-size: 55px;
}
.letter li{
    width: 120px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: black;
}
/* .letter li button{
    background-color: black;
    color: white;
    border: none; 
   
    cursor: pointer;
    transition: transform 0.3s ease;
} */

/* .letter li button:hover {
    transform: rotate(360deg);
    background-color: #3c1e2a;
  } */
.img2{
    display: none;
}

.pro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 20px;
}



@media (max-width:610px){
    .letter h1{
       
        font-size: 45px;
    }
    .letter p{
        font-size: 13px;
       
    }
    .fi{
        width: 100%;
        height: 800px;
       background: #F2F0F1;
        display: flex;
        flex-direction: column;
    }
    .img2{
        display: block;
        display: flex;
        justify-content: center;
    }
    .img2 img{
        height: 400px;
        width: 410px;
        object-fit: cover;
    }
    .in1 h1{
        font-size: 18px;
    }
}
@media (max-width:470px){

    .letter h1{
       
        font-size: 35px;
    }
    .letter p{
        font-size: 9px;
       
    }
}

@media (max-width:400px){
    .letter h1{
      margin-left: -25px;
       font-size: 25px;
   }
   .letter p{
       font-size: 9px;
       margin-left: -25px;
   }
   .img2{
       display: block;
       display: flex;
       justify-content: center;
   }
   .img2 img{
       height: 350px;
       width: 380px;
       object-fit: cover;
   }
   .letter li {
       margin-left: -25px;
   }
   .in1 h1 p{
      column-gap: 50px;
   }
}





/* new page */


.img3{
    background-color:black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img3 img{
    height: 40px;
}


@media (max-width:1300px){

    .img3 img{
        height: 20px;
    }
}


@media (max-width:670px) {

    .img3 img{
        height: 15px;
 }
}


@media (max-width:510px){
    .img3{
        flex-direction: column;
        height: 300px;
    }
}


.ne3{
    text-align: center;
    height: 50px;
    width: 100%;
}
.br{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bro{
    width: 90%;
    height: 700px;
    background: #F0F0F0;
    border-radius: 30px;
  
}
.img5{
    height: 600px;
 text-align: center;
 margin-top: 60px;
}
.img6 {
    display: none;
}
@media (max-width:1300px) {
    .img5 img{
        height: 280px;
    }
    
}

@media (max-width:1200px){
    .img5 img{
        height: 220px;

    }
    .bro{
        height: 550px;
    }
    .br{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:960px) {
    .img5 img{
        height: 175px;

    }
    .bro{
        height: 460px;
    }
    
}

@media (max-width:760px){
    .img5 img{
        height: 150px;

    }
    .bro{
        height: 430px;
    }
    .br{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:670px){
    .img5 img{
        height: 118px;

    }
    .bro{
        height: 360px;
    }
}

@media (max-width:510px){

    .ne3{
        margin-top: 50px;
        font-size: 12px;
    }
    .img5{
        display: none;
    }
    .img6{
        display: block;
        text-align: center;
 
    }
    .img6 img{
        margin-top: 20px;
        height: 160px;
    }

    .bro{
        height: 820px;
        padding: 30px;
        
    }
     .br{
        width: 100%;
        height: 870px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width:365px){
    .img6 img{
      
        height: 140px;
    }

    .bro{
        height: 730px;
        padding: 30px;
        
    }
    .br{
        width: 100%;
        height: 800px;
        /* border: 1px solid; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.ne4{
    width: 100%;
    height: 40px;
    text-align: center;
}
.sa{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 310px 310px 310px ;
    grid-template-rows: 180px 180px 180px;
    padding: 20px;
    column-gap: 20px;
    justify-content: space-around;
    
}
.sa1{
    background-color: rgb(239, 239, 239);
    border-radius: 17px;
    padding: 15px;
}
.sa1 img{
    height: 20px;
}
.sa11{
    display: flex;
    gap: 5px;
}

@media (max-width:1020px){
    .sa{
        width: 100%;
        display: grid;
        grid-template-columns: 270px 270px 270px ;
        grid-template-rows: 180px 180px 180px;
        padding: 20px;
        column-gap: 20px;
        justify-content: space-around;
        
    }}

    @media (max-width:890px){
        .sa{
            width: 100%;
            display: grid;
            grid-template-columns: 270px 270px;
            grid-template-rows: 180px 180px ;
            padding: 20px;
            column-gap: 20px;
            justify-content: space-around;
            
        }
        #h2{
            display: none;
        }
    
    }
    @media (max-width:600px){
        .sa{
            width: 100%;
            display: grid;
            grid-template-columns: 400px;
            grid-template-rows: 180px;
            padding: 20px;
            column-gap: 20px;
            justify-content: space-around;
            
        }
        #h1{
            display: none;
        }}

        @media (max-width:440px){
            .sa{
                width: 100%;
                display: grid;
                grid-template-columns: 300px;
                grid-template-rows: 180px;
                padding: 20px;
                column-gap: 20px;
                justify-content: space-around;
                
            }
           .ne4 h1{
            font-size: 25px;
        
           }
        }

        @media (max-width:365px){
            .sa{
                width: 100%;
                display: grid;
                grid-template-columns: 270px;
                grid-template-rows: 180px;
                padding: 20px;
                column-gap: 20px;
                justify-content: space-around;
                
            }
           .ne4 h1{
            font-size: 20px;
        
           }
        }